## Data Preparation

In [1]:
# import libraries

import pandas as pd
import numpy as np

In [3]:
#load dataset

df = pd.read_csv('/kaggle/input/salesforce-dataset-project/Salesforce_data_case_study.csv')

## Explore Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12920 entries, 0 to 12919
Data columns (total 40 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   person_id                                 12920 non-null  int64
 1   gender                                    12920 non-null  object
 2   age                                       12920 non-null  int64
 3   race                                      12920 non-null  object
 4   hispanic?                                 12920 non-null  object
 5   high_school_grad?                         12920 non-null  object
 6   ged_received?                             12920 non-null  object
 7   first_gen_college?                        12920 non-null  object
 8   past_college_enrollment                   12920 non-null  object
 9   zipcode                                   12920 non-null  object
 10  city                                      12920 non-null  object
 11  state                                     12799 non-null  object
 12  veteran_status                            12920 non-null  object
 13  lead_created_date                         12916 non-null  object
 14  hear_about_campus                         12920 non-null  object
 15  utm_marketing_channel                     12920 non-null  object
 16  application_start_date                    12920 non-null  object
 17  first_meaningful_conversation_date        2965 non-null   object
 18  application_submit_date                   12906 non-null  object
 19  interview_date                            1954 non-null   object
 20  async_interview_date_c                    285 non-null    object
 21  assessment_decision                       12920 non-null  object
 22  assessment_attempts                       12920 non-null  int64
 23  admit_date                                1882 non-null   object
 24  admit_status                              1879 non-null   object
 25  enroll_date                               911 non-null    object
 26  was_previous_enrollment                   12920 non-null  bool
 27  num_phone_calls                           12920 non-null  int64
 28  offer_letter_status                       12920 non-null  object
 29  offer_letter_status_date                  1102 non-null   object
 30  fafsa_status                              12920 non-null  object
 31  enrollment_identity_verification_status   12920 non-null  object
 32  highschool_grad_verification_status       12920 non-null  object
 33  Registration Status end of first term     911 non-null    object
 34  Credits Completed end of first term       911 non-null    float64
 35  Credits attempted in students first term  911 non-null    float64
 36  GPA end of First Term                     501 non-null    float64
 37  last_date_attendance                      755 non-null    object
 38  quarter_start_date                        12920 non-null  object
 39  quarter_end_date                          12920 non-null  object
dtypes: bool(1), float64(3), int64(4), object(32)
memory usage: 3.9+ MB

## Clean Data

In [4]:
#Check for duplicated rows, drop if exists

import numpy as np
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12920 entries, 0 to 12919
Data columns (total 40 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   person_id                                 12920 non-null  int64
 1   gender                                    12920 non-null  object
 2   age                                       12920 non-null  int64
 3   race                                      12920 non-null  object
 4   hispanic?                                 12920 non-null  object
 5   high_school_grad?                         12920 non-null  object
 6   ged_received?                             12920 non-null  object
 7   first_gen_college?                        12920 non-null  object
 8   past_college_enrollment                   12920 non-null  object
 9   zipcode                                   12920 non-null  object
 10  city                                      12920 non-null  object
 11  state                                     12799 non-null  object
 12  veteran_status                            12920 non-null  object
 13  lead_created_date                         12916 non-null  object
 14  hear_about_campus                         12920 non-null  object
 15  utm_marketing_channel                     12920 non-null  object
 16  application_start_date                    12920 non-null  object
 17  first_meaningful_conversation_date        2965 non-null   object
 18  application_submit_date                   12906 non-null  object
 19  interview_date                            1954 non-null   object
 20  async_interview_date_c                    285 non-null    object
 21  assessment_decision                       12920 non-null  object
 22  assessment_attempts                       12920 non-null  int64
 23  admit_date                                1882 non-null   object
 24  admit_status                              1879 non-null   object
 25  enroll_date                               911 non-null    object
 26  was_previous_enrollment                   12920 non-null  bool
 27  num_phone_calls                           12920 non-null  int64
 28  offer_letter_status                       12920 non-null  object
 29  offer_letter_status_date                  1102 non-null   object
 30  fafsa_status                              12920 non-null  object
 31  enrollment_identity_verification_status   12920 non-null  object
 32  highschool_grad_verification_status       12920 non-null  object
 33  Registration Status end of first term     911 non-null    object
 34  Credits Completed end of first term       911 non-null    float64
 35  Credits attempted in students first term  911 non-null    float64
 36  GPA end of First Term                     501 non-null    float64
 37  last_date_attendance                      755 non-null    object
 38  quarter_start_date                        12920 non-null  object
 39  quarter_end_date                          12920 non-null  object
dtypes: bool(1), float64(3), int64(4), object(32)
memory usage: 3.9+ MB

In [5]:
 # Shorten/simplify column labels   

df.rename(columns={
    'first_meaningful_conversation_date':'first_conv_date', 'async_interview_date_c':'async_interview_date','enrollment_identity_verification_status':'enroll_ident_verif_status', 
    'highschool_grad_verification_status':'hs_grad_verify','Registration Status end of first term':'register_status_EFT','Credits Completed end of first term':'credits_complete_EFT',
    'Credits attempted in students first term':'credits_attempted_FT', 'GPA end of First Term':'GPA_EFT'
}, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12920 entries, 0 to 12919
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   person_id                  12920 non-null  int64
 1   gender                     12920 non-null  object
 2   age                        12920 non-null  int64
 3   race                       12920 non-null  object
 4   hispanic?                  12920 non-null  object
 5   high_school_grad?          12920 non-null  object
 6   ged_received?              12920 non-null  object
 7   first_gen_college?         12920 non-null  object
 8   past_college_enrollment    12920 non-null  object
 9   zipcode                    12920 non-null  object
 10  city                       12920 non-null  object
 11  state                      12799 non-null  object
 12  veteran_status             12920 non-null  object
 13  lead_created_date          12916 non-null  object
 14  hear_about_campus          12920 non-null  object
 15  utm_marketing_channel      12920 non-null  object
 16  application_start_date     12920 non-null  object
 17  first_conv_date            2965 non-null   object
 18  application_submit_date    12906 non-null  object
 19  interview_date             1954 non-null   object
 20  async_interview_date       285 non-null    object
 21  assessment_decision        12920 non-null  object
 22  assessment_attempts        12920 non-null  int64
 23  admit_date                 1882 non-null   object
 24  admit_status               1879 non-null   object
 25  enroll_date                911 non-null    object
 26  was_previous_enrollment    12920 non-null  bool
 27  num_phone_calls            12920 non-null  int64
 28  offer_letter_status        12920 non-null  object
 29  offer_letter_status_date   1102 non-null   object
 30  fafsa_status               12920 non-null  object
 31  enroll_ident_verif_status  12920 non-null  object
 32  hs_grad_verify             12920 non-null  object
 33  register_status_EFT        911 non-null    object
 34  credits_complete_EFT       911 non-null    float64
 35  credits_attempted_FT       911 non-null    float64
 36  GPA_EFT                    501 non-null    float64
 37  last_date_attendance       755 non-null    object
 38  quarter_start_date         12920 non-null  object
 39  quarter_end_date           12920 non-null  object
dtypes: bool(1), float64(3), int64(4), object(32)
memory usage: 3.9+ MB

In [8]:
#check for empty values 

df.isna().sum()

person_id                        0
gender                           0
age                              0
race                             0
hispanic?                        0
high_school_grad?                0
ged_received?                    0
first_gen_college?               0
past_college_enrollment          0
zipcode                          0
city                             0
state                          121
veteran_status                   0
lead_created_date                4
hear_about_campus                0
utm_marketing_channel            0
application_start_date           0
first_conv_date               9955
application_submit_date         14
interview_date               10966
async_interview_date         12635
assessment_decision              0
assessment_attempts              0
admit_date                   11038
admit_status                 11041
enroll_date                  12009
was_previous_enrollment          0
num_phone_calls                  0
offer_letter_status              0
offer_letter_status_date     11818
fafsa_status                     0
enroll_ident_verif_status        0
hs_grad_verify                   0
register_status_EFT          12009
credits_complete_EFT         12009
credits_attempted_FT         12009
GPA_EFT                      12419
last_date_attendance         12165
quarter_start_date               0
quarter_end_date                 0
dtype: int64

## Data Transformation

In [9]:
# Create two separate tables - students Enrolled & Prospects

enrolled = df[df['enroll_date'].notna()]

prospect = df[df['enroll_date'].isna()]

In [10]:
#view structure of 2 tables 

print('enrolled',enrolled.shape)
print('prospect',prospect.shape)

enrolled (911, 40)
prospect (12009, 40)

In [11]:
# view enrolled outline

enrolled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 911 entries, 15 to 12919
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   person_id                  911 non-null    int64
 1   gender                     911 non-null    object
 2   age                        911 non-null    int64
 3   race                       911 non-null    object
 4   hispanic?                  911 non-null    object
 5   high_school_grad?          911 non-null    object
 6   ged_received?              911 non-null    object
 7   first_gen_college?         911 non-null    object
 8   past_college_enrollment    911 non-null    object
 9   zipcode                    911 non-null    object
 10  city                       911 non-null    object
 11  state                      909 non-null    object
 12  veteran_status             911 non-null    object
 13  lead_created_date          908 non-null    object
 14  hear_about_campus          911 non-null    object
 15  utm_marketing_channel      911 non-null    object
 16  application_start_date     911 non-null    object
 17  first_conv_date            863 non-null    object
 18  application_submit_date    911 non-null    object
 19  interview_date             793 non-null    object
 20  async_interview_date       87 non-null     object
 21  assessment_decision        911 non-null    object
 22  assessment_attempts        911 non-null    int64
 23  admit_date                 911 non-null    object
 24  admit_status               911 non-null    object
 25  enroll_date                911 non-null    object
 26  was_previous_enrollment    911 non-null    bool
 27  num_phone_calls            911 non-null    int64
 28  offer_letter_status        911 non-null    object
 29  offer_letter_status_date   911 non-null    object
 30  fafsa_status               911 non-null    object
 31  enroll_ident_verif_status  911 non-null    object
 32  hs_grad_verify             911 non-null    object
 33  register_status_EFT        911 non-null    object
 34  credits_complete_EFT       911 non-null    float64
 35  credits_attempted_FT       911 non-null    float64
 36  GPA_EFT                    501 non-null    float64
 37  last_date_attendance       755 non-null    object
 38  quarter_start_date         911 non-null    object
 39  quarter_end_date           911 non-null    object
dtypes: bool(1), float64(3), int64(4), object(32)
memory usage: 285.6+ KB

In [12]:
#view missing values in Enrolled Df

missing_values = enrolled.isna().sum()

print(missing_values)

person_id                      0
gender                         0
age                            0
race                           0
hispanic?                      0
high_school_grad?              0
ged_received?                  0
first_gen_college?             0
past_college_enrollment        0
zipcode                        0
city                           0
state                          2
veteran_status                 0
lead_created_date              3
hear_about_campus              0
utm_marketing_channel          0
application_start_date         0
first_conv_date               48
application_submit_date        0
interview_date               118
async_interview_date         824
assessment_decision            0
assessment_attempts            0
admit_date                     0
admit_status                   0
enroll_date                    0
was_previous_enrollment        0
num_phone_calls                0
offer_letter_status            0
offer_letter_status_date       0
fafsa_status                   0
enroll_ident_verif_status      0
hs_grad_verify                 0
register_status_EFT            0
credits_complete_EFT           0
credits_attempted_FT           0
GPA_EFT                      410
last_date_attendance         156
quarter_start_date             0
quarter_end_date               0
dtype: int64

In [13]:
#create a copy for backup

enrolled = enrolled.copy()

In [14]:
#replace all the empty values with text (object datatype)


enrolled.fillna({
    'state': 'unknown',
    'lead_created_date': 'not available',
    'first_conv_date': 'not available',
    'async_interview_date': 'na',
    'last_date_attendance': 'na'
}, inplace=True)

In [15]:
# Keep 'GPA EFT' stays numeric and keep missing values as NaN


df['GPA_EFT'] = pd.to_numeric(df['GPA_EFT'], errors='coerce')

# Confirm the column type and check for missing values

print(df['GPA_EFT'].dtype)  # Should show 'float64'
print(df['GPA_EFT'].isnull().sum())  # Counts missing values

float64
12419

In [16]:
#save enrolled df to csv 

enrolled.to_csv('/kaggle/working/enrolled.csv', index=False)

In [17]:
#view Prospect DF

prospect.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12009 entries, 0 to 12498
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   person_id                  12009 non-null  int64
 1   gender                     12009 non-null  object
 2   age                        12009 non-null  int64
 3   race                       12009 non-null  object
 4   hispanic?                  12009 non-null  object
 5   high_school_grad?          12009 non-null  object
 6   ged_received?              12009 non-null  object
 7   first_gen_college?         12009 non-null  object
 8   past_college_enrollment    12009 non-null  object
 9   zipcode                    12009 non-null  object
 10  city                       12009 non-null  object
 11  state                      11890 non-null  object
 12  veteran_status             12009 non-null  object
 13  lead_created_date          12008 non-null  object
 14  hear_about_campus          12009 non-null  object
 15  utm_marketing_channel      12009 non-null  object
 16  application_start_date     12009 non-null  object
 17  first_conv_date            2102 non-null   object
 18  application_submit_date    11995 non-null  object
 19  interview_date             1161 non-null   object
 20  async_interview_date       198 non-null    object
 21  assessment_decision        12009 non-null  object
 22  assessment_attempts        12009 non-null  int64
 23  admit_date                 971 non-null    object
 24  admit_status               968 non-null    object
 25  enroll_date                0 non-null      object
 26  was_previous_enrollment    12009 non-null  bool
 27  num_phone_calls            12009 non-null  int64
 28  offer_letter_status        12009 non-null  object
 29  offer_letter_status_date   191 non-null    object
 30  fafsa_status               12009 non-null  object
 31  enroll_ident_verif_status  12009 non-null  object
 32  hs_grad_verify             12009 non-null  object
 33  register_status_EFT        0 non-null      object
 34  credits_complete_EFT       0 non-null      float64
 35  credits_attempted_FT       0 non-null      float64
 36  GPA_EFT                    0 non-null      float64
 37  last_date_attendance       0 non-null      object
 38  quarter_start_date         12009 non-null  object
 39  quarter_end_date           12009 non-null  object
dtypes: bool(1), float64(3), int64(4), object(32)
memory usage: 3.7+ MB

In [18]:
#view missing values

missing_values2 = prospect.isna().sum()

print(missing_values2)

person_id                        0
gender                           0
age                              0
race                             0
hispanic?                        0
high_school_grad?                0
ged_received?                    0
first_gen_college?               0
past_college_enrollment          0
zipcode                          0
city                             0
state                          119
veteran_status                   0
lead_created_date                1
hear_about_campus                0
utm_marketing_channel            0
application_start_date           0
first_conv_date               9907
application_submit_date         14
interview_date               10848
async_interview_date         11811
assessment_decision              0
assessment_attempts              0
admit_date                   11038
admit_status                 11041
enroll_date                  12009
was_previous_enrollment          0
num_phone_calls                  0
offer_letter_status              0
offer_letter_status_date     11818
fafsa_status                     0
enroll_ident_verif_status        0
hs_grad_verify                   0
register_status_EFT          12009
credits_complete_EFT         12009
credits_attempted_FT         12009
GPA_EFT                      12009
last_date_attendance         12009
quarter_start_date               0
quarter_end_date                 0
dtype: int64

In [19]:
# fill in string datatypes with text: 

enrolled.fillna({
    'state': 'unknown',
    'lead_created_date':'unknown',
    'application_submit_date': 'in process',
    'first_conv_date': 'in process',
    'async_interview_date': 'in process',
    'admit_date':'in process',
    'admit_status':'in process',                 
    'enroll_date':'TBD', 
    'offer_letter_status_date':'TBD',
}, inplace=True)

In [20]:
prospect.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12009 entries, 0 to 12498
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   person_id                  12009 non-null  int64
 1   gender                     12009 non-null  object
 2   age                        12009 non-null  int64
 3   race                       12009 non-null  object
 4   hispanic?                  12009 non-null  object
 5   high_school_grad?          12009 non-null  object
 6   ged_received?              12009 non-null  object
 7   first_gen_college?         12009 non-null  object
 8   past_college_enrollment    12009 non-null  object
 9   zipcode                    12009 non-null  object
 10  city                       12009 non-null  object
 11  state                      11890 non-null  object
 12  veteran_status             12009 non-null  object
 13  lead_created_date          12008 non-null  object
 14  hear_about_campus          12009 non-null  object
 15  utm_marketing_channel      12009 non-null  object
 16  application_start_date     12009 non-null  object
 17  first_conv_date            2102 non-null   object
 18  application_submit_date    11995 non-null  object
 19  interview_date             1161 non-null   object
 20  async_interview_date       198 non-null    object
 21  assessment_decision        12009 non-null  object
 22  assessment_attempts        12009 non-null  int64
 23  admit_date                 971 non-null    object
 24  admit_status               968 non-null    object
 25  enroll_date                0 non-null      object
 26  was_previous_enrollment    12009 non-null  bool
 27  num_phone_calls            12009 non-null  int64
 28  offer_letter_status        12009 non-null  object
 29  offer_letter_status_date   191 non-null    object
 30  fafsa_status               12009 non-null  object
 31  enroll_ident_verif_status  12009 non-null  object
 32  hs_grad_verify             12009 non-null  object
 33  register_status_EFT        0 non-null      object
 34  credits_complete_EFT       0 non-null      float64
 35  credits_attempted_FT       0 non-null      float64
 36  GPA_EFT                    0 non-null      float64
 37  last_date_attendance       0 non-null      object
 38  quarter_start_date         12009 non-null  object
 39  quarter_end_date           12009 non-null  object
dtypes: bool(1), float64(3), int64(4), object(32)
memory usage: 3.7+ MB

In [21]:
cols_to_drop = ['last_date_attendance', 'GPA_EFT', 'register_status_EFT', 'credits_complete_EFT', 'enroll_date','credits_attempted_FT']
prospect.drop(cols_to_drop, axis=1, inplace=True)

<ipython-input-21-600f94145c4b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prospect.drop(cols_to_drop, axis=1, inplace=True)

In [22]:
prospect.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12009 entries, 0 to 12498
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   person_id                  12009 non-null  int64
 1   gender                     12009 non-null  object
 2   age                        12009 non-null  int64
 3   race                       12009 non-null  object
 4   hispanic?                  12009 non-null  object
 5   high_school_grad?          12009 non-null  object
 6   ged_received?              12009 non-null  object
 7   first_gen_college?         12009 non-null  object
 8   past_college_enrollment    12009 non-null  object
 9   zipcode                    12009 non-null  object
 10  city                       12009 non-null  object
 11  state                      11890 non-null  object
 12  veteran_status             12009 non-null  object
 13  lead_created_date          12008 non-null  object
 14  hear_about_campus          12009 non-null  object
 15  utm_marketing_channel      12009 non-null  object
 16  application_start_date     12009 non-null  object
 17  first_conv_date            2102 non-null   object
 18  application_submit_date    11995 non-null  object
 19  interview_date             1161 non-null   object
 20  async_interview_date       198 non-null    object
 21  assessment_decision        12009 non-null  object
 22  assessment_attempts        12009 non-null  int64
 23  admit_date                 971 non-null    object
 24  admit_status               968 non-null    object
 25  was_previous_enrollment    12009 non-null  bool
 26  num_phone_calls            12009 non-null  int64
 27  offer_letter_status        12009 non-null  object
 28  offer_letter_status_date   191 non-null    object
 29  fafsa_status               12009 non-null  object
 30  enroll_ident_verif_status  12009 non-null  object
 31  hs_grad_verify             12009 non-null  object
 32  quarter_start_date         12009 non-null  object
 33  quarter_end_date           12009 non-null  object
dtypes: bool(1), int64(4), object(29)
memory usage: 3.1+ MB

## Save Datasets

In [23]:
#save Prospect DF

prospect.to_csv('/kaggle/working/prospect.csv', index=False)